.global-nav {
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  height: 100px;
}

.sub-nav {
  width: 75%;
  max-width: 1600px;
  display: flex;

  margin-left: auto;
  margin-right: auto;

  align-items: center;
}

.sub-nav__search {
  display: flex;
  gap: 12px;
  background: #222222;
  /* padding: 11px 27px 11px 11px; */
  height: 40px;
  width: 230px;
  margin-right: 20px;
  border-radius: 36px;
}
.search-icon__btn {
  height: 40px;
  background: none;
  border: none;
  outline: none;
  padding-left: 10px;
  line-height: 8px;
}
.search-input {
  height: 40px;
  width: 190px;
  display: flex;
  align-items: center;
}
.search-input input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  display: flex;
}
.search-input input::placeholder {
  font-size: 13.49px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #9b9b9c;
}
.sub-nav__list {
  display: flex;
}
.sub-nav__list-items {
  display: flex;
  list-style: none;
  gap: 30px;
}
.sub-nav__list-item {
  color: #aaaaae;
  font-size: 16px;
  font-weight: 500;

  font-family: "Inter", sans-serif;
  text-decoration: none;
  text-wrap: nowrap;
}
.sub-nav__list-item:hover {
  color: white;
}
.sub-nav__list0 {
  padding-left: 10px;
}
.sub-nav__list1 {
  display: flex;
  margin-left: 795px;
}
